<p id="notice"><%= notice %></p>

<p>
  <b><%= @artist.name %> — <%= @lyric.title %></b>
</p>

<pre>
  <%= @lyric.text %>
</pre>


<%= link_to 'Edit', edit_artist_lyric_path(@artist, @lyric) %> |
<%= link_to 'Back', artist_lyrics_path %>
