<p id="notice"><%= notice %></p>

<p>
  <b><%= @lyric.artist.name %> — <%= @lyric.title %></b>
</p>

<pre style="width: 50%;">
  <%= @lyric.text %>
</pre>


<%= link_to 'Edit', edit_lyric_path(@lyric) %> |
<%= link_to 'Back', lyrics_path %>
