<p id="notice"><%= notice %></p>

<h2>
<%= @artist.name %> — <%= @lyric.title %>
</h2>

<div id="lyric">
<%= build_granular_lyric_for @lyric.text %>
</div>


<%= link_to 'Edit', edit_artist_lyric_path(@artist, @lyric) %> |
<%= link_to 'Back', artist_lyrics_path %>
