<!DOCTYPE html>
<html>
<head>
  <title>Панчлайн</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header" style="font-size: 200%;">
    <%= link_to_unless current_page?(root_path), 'Панчлайн', root_path %>
  </div>

<%= yield %>

</body>
</html>
