<!DOCTYPE html>
<html>
<head>
  <title>Панчлайн</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="layout">

  <div id="header">
    <div id="logo">
      <%= link_to_unless current_page?(root_path), 'Панчлайн', root_path %>
    </div>
  </div>

  <div id="page">
    <%= yield %>
  </div>

  <div id="footer">
    Сайт сделан в 2012 году.
  </div>

</div>

</body>
</html>
